body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.bg-primary {
    background-color: #03a9f4;
}


.container {
    width: 100%;
    padding: 4rem 0;
}

.container > .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem 0;
    width: 62 rem;
    margin: 0 calc(50% - 31rem);
}
.container > .row-short {
    width: 38rem;
    margin: 0 calc(50% - 19rem);

}


.container .column {
    width: 50%;
}
.container .column.short {
    width: 40%;
    margin-left: auto;
}

/* hero */

.hero {
    min-height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;}
    
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
}
.hero > .logo {
    height: 2.1rem;
    margin-bottom: 1.25rem;
}
.hero > .main-title {
    /* font-size: 80px; */
    font-size: 5rem;
}
.hero > .description {
    /* font-size: 20px; */
    color: #808080b3;
    width: 50rem;
    font-size: 1.25rem;
}

/* Content */

.column-header {
    padding: 0.6rem;
    text-transform:uppercase;
    font-size: 1.25rem;
    }
    .column-par {
        padding: 0.6rem;
        font-size: 1.12rem;
        color: rgb(141, 140, 140);
    } 

    .column-par > a {
        color: rgb(197, 70, 91);
        text-decoration: none;
    }
    .column-par > a:hover {
        color: rgb(63, 23, 30);
        text-decoration: underline;
    }


/* Footer */

footer.container {
    padding-top: 0px;
}
.socials.row {
    gap: 1.9rem;
    padding: 1.25rem 0;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.socials > a {
    color: #fff;
    font-size: 1.25em;
    text-decoration: none;
    width: 2.4em;
    height: 2.5em;
    text-align: center;
    line-height: 2.4em;
    border-radius: 3.12rem;
    transition: all 1s;
   
}
.socials > a:hover {
    background-color: #fff;
    color: #03a9f4;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all 3s;
  
}

.footer-bottom {
text-align: center;

}

footer .logo {
    height: 2.5rem;
    margin: 1.9rem 0;
}

footer p {
    color: #fffb;
    line-height: 1.9rem;
    font-size: 1.12rem;
}
footer p > a {
    color: rgba(255, 255, 255);
   text-decoration: none;
   
}
footer p > a:hover {
   text-decoration: underline
   
}


/* Responsive */


@media (max-width: 69rem) {
    .container > .row {
        width: 50rem;
        margin: 0 calc(50% - 25rem);
    }
}

@media (max-width: 56rem) {
    .container > .row {
        width: 37rem;
        margin: 0 calc(50% - 19rem);
    }
    .container .column {
        width: 100%;
    }
    .container .column.short {
        width: 100%;
        margin-left: unset;
    }
}

@media (max-width: 44rem) {
    .container > .row,
    .container > .row-short {
        width: 25px;
        margin: 0 calc(50% - 12.5rem);
    }
}

@media (max-width: 42.5rem) {
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .container > .row,
    .container > .row-short {
        width: 100%;
        margin: 0;
    }
}

.btn {
    color: white;
    background-color: #aa142d;
    border-radius: 10px;
    padding: 20px 20px;
    width: 200px;
    font-size:20px;
    text-align: center;
}